.container{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.heading{
    margin-bottom: 50px;
}
.content{
    padding: 20px;
    
}
body{
    background-color: #f5f2d0;

}
.notsure{
    background-color: white;

}

#buttons{
    text-align: center;
}
.display{
    width: 100%;
}
#password-btn
}