.container{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.heading{
    margin-bottom: 50px;
}
.content{
    padding: 20px;
    
}
body{
    background-color: lightgrey;

}
.notsure{
    background-color: white;

}

#buttons{
    text-align: center;
}
.display{
    width: 100%;
    text-align: center;
}
#password-btn{
    background-color: red;
}
#clipboard-btn{
    background-color: lightgray;
}